:root{
    --azul-celeste: #8AFFE6;
    --azul-oscuro: #1B3F4B;
    --azul-oscuro-intermedio: #3b5d68;
    --gris-claro: #CBCBCB;
    --azul-claro: #4E8AC4;
    --azul-claro-intermedio: #6cb5fa;
    --negro: #000000;
    --blanco: #fff;
  }

  .analiticaContainer {
    display: flex;
  flex-direction: column;
    padding: 20px;
    width: 1076px;
    height: 900px;
    overflow-y: auto;
  }
  
  .cardContainer {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 20px;
  }

  .graficos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
    margin-top: 30px;
  }

  .barras{
    width: 580px;
    height: 400px;
  }

  .donut{
    width: 400px;
    height: 400px;
  }


 /* Media Query para pantallas más pequeñas */
@media (max-width: 768px) {
  /* Hacer que las cards se apilen */
  .cards-container {
    flex-direction: column;
   }
  /* Hacer que las cards ocupen todo el ancho*/
  .card{
      flex: 1 1 100%;
  }
/* Hacer que los gráficos ocupen todo el ancho */
.barras, .donut {
  flex: 1 1 100%;
}
}
