:root {
  --azul-celeste: #8AFFE6;
  --azul-oscuro: #1B3F4B;
  --azul-oscuro-intermedio: #3b5d68;
  --gris-claro: #CBCBCB;
  --azul-claro: #4E8AC4;
  --azul-claro-intermedio: #6cb5fa;
  --negro: #000000;
  --blanco: #fff;
}
 
.analiticaContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  width: calc(100% - 18rem); /* Ajusta el ancho para no superponerse con el menú */
  height: 100vh; /* Ocupa toda la altura de la ventana */
  margin: 0;
  margin-left: 18rem; /* Añade margen izquierdo para el menú */
  overflow: hidden;
  position: relative; /* Elimina el scroll */
}
 
.fullImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  left: 18rem;
  top: 0;
}
 /* Media Query para pantallas más pequeñas */
@media (max-width: 768px) {
  .analiticaContainer {
    width: 100%; /* Ajusta el ancho para pantallas pequeñas */
    margin-left: 0; /* Elimina el margen izquierdo para pantallas pequeñas */
    margin-top: 60px;
  }
  .fullImage {
    height: calc(100vh - 60px);
    left: 0;
  }
}