:root {
    --azul-celeste: #8affe6;
    --azul-oscuro: #1b3f4b;
    --azul-oscuro-intermedio: #3b5d68;
    --azul-profundo: #0164f8;
    --azul-profundo-oscuro: #0453c9;
    --gris-claro: #cbcbcb;
    --gris-oscuro: #6b6868;
    --gris-oscuro-medio: #bbb8b8;
    --azul-claro: #4e8ac4;
    --azul-claro-intermedio: #6cb5fa;
    --negro: #000000;
    --blanco: #fff;
    --verde: #017e0c;
    --verde-claro: #03b912;
    --naranja: #f86605;
    --naranja-claro: #c25106;
    --rojo: #f70511;
    --rojo-claro: #c5060f;
  }
  
/*********************CONTENEDOR PRINCIPAL*************/
.container {
  width: calc(100% - 18rem); /* Ajusta el ancho para no superponerse con el menú */
  height: 100vh;
  margin-left: 18rem; /* Añade margen izquierdo para el menú */
  margin-top: 0rem; /* Ajusta este valor según sea necesario */
  align-items: center;
  overflow-y: auto;
  overflow-x: hidden;
}
 
/***********************ENCABEZADO*************************/
.containerMain {
  display: flex;
  top: 40px;
  margin-left: 20px;
  position: relative;
  width: calc(100% - 40px); /* Ajusta el ancho */
  height: 80px;
}
  .btnImport {
    position: absolute;
    left: 0;
    bottom: 5px;
    margin-right: 10px;
    padding: 4px 8px;
  
    &:hover {
      background: var(--gris-claro);
      color: var(--azul-profundo-oscuro);
    }
  }
  
  .btnExport {
    position: absolute;
    left: 8rem;
    bottom: 5px;
    padding: 4px 8px;
  
    &:hover {
      background: var(--gris-claro);
      color: var(--azul-profundo-oscuro);
    }
  }

  
  .tittle {
    font-size: 25px;
    font-family: sans-serif;
    color: var(--azul-oscuro);
  }

  .btnExport,
  .btnImport {
    border-radius: 10px;
    border: none;
    justify-content: space-between;
    box-shadow: 0 0 5px var(--azul-oscuro);
  }
  
  .icon {
    font-size: 20px;
    margin-right: 5px;
  }
  
  /*********************TABLA*******************/
  
  .customTable {
    font-size: 16px;
    box-shadow: 0 0 5px var(--azul-oscuro);
  }
  
  .table td,
  .table th {
    border-left: none; /* Quitar borde izquierdo */
    border-right: none; /* Quitar borde derecho */
  }
  
  .table {
    width: 64rem;
    margin-left: 20px;
    margin-right: 20px;
    top: 80px;
    position: relative;
    border-radius: 10px;
  }
  
  .table thead th {
    border-bottom: 2px solid var(--gris-claro); /* Mantener borde inferior en el encabezado */
    color: var(--azul-oscuro);
    padding: 10px;
  }
  
  .contChek{
    border-top-left-radius: 10px;
  }
  
  .table .contBtns{
    border-top-right-radius: 10px;
  }
  
  .table tbody tr {
    border-bottom: 1px solid var(--azul-claro); /* Líneas horizontales */
  }
  
  .table tbody td {
    border-bottom: 1px solid var(--gris-claro); /* Mantener las líneas horizontales entre filas */
    color: var(--azul-oscuro);
  }

