:root {
  --azul-celeste: #8affe6;
  --azul-oscuro: #1b3f4b;
  --azul-oscuro-intermedio: #3b5d68;
  --azul-profundo: #0164f8;
  --azul-profundo-oscuro: #0453c9;
  --gris-claro: #cbcbcb;
  --gris-oscuro: #6b6868;
  --gris-oscuro-medio: #bbb8b8;
  --azul-claro: #4e8ac4;
  --azul-claro-intermedio: #6cb5fa;
  --negro: #000000;
  --blanco: #fff;
  --verde: #017e0c;
  --verde-claro: #03b912;
  --naranja: #f86605;
  --naranja-claro: #c25106;
  --rojo: #f70511;
  --rojo-claro: #c5060f;
}
 
/*********************CONTENEDOR PRINCIPAL*************/
.container {
  width: calc(100% - 18rem); /* Ajusta el ancho para no superponerse con el menú */
  height: 100vh;
  margin-left: 18rem; /* Añade margen izquierdo para el menú */
  margin-top: 0rem; /* Ajusta este valor según sea necesario */
  align-items: center;
  overflow-y: auto;
  overflow-x: hidden;
}
 
/***********************ENCABEZADO*************************/
.containerMain {
  display: flex;
  top: 40px;
  margin-left: 20px;
  position: relative;
  width: calc(100% - 40px); /* Ajusta el ancho */
  height: 80px;
}
 
.btnImport {
  position: absolute;
  left: 0;
  bottom: 5px;
  margin-right: 10px;
  padding: 4px 8px;
}
 
.btnImport:hover {
  background: var(--gris-claro);
  color: var(--azul-profundo-oscuro);
}
 
.btnExport {
  position: absolute;
  left: 8rem;
  bottom: 5px;
  padding: 4px 8px;
}
 
.btnExport:hover {
  background: var(--gris-claro);
  color: var(--azul-profundo-oscuro);
}
 
.btnAdd {
  position: absolute;
  right: 0;
  top: 0%;
  padding: 7px 14px;
  background: var(--azul-profundo-oscuro);
  color: var(--blanco);
}
 
.btnAdd:hover {
  background: var(--azul-profundo);
}
 
.tittle {
  font-size: 25px;
  font-family: sans-serif;
  color: var(--azul-oscuro);
}
 
.btnAdd,
.btnExport,
.btnImport {
  border-radius: 10px;
  border: none;
  justify-content: space-between;
  box-shadow: 0 0 5px var(--azul-oscuro);
}
 
.icon {
  font-size: 20px;
  margin-right: 5px;
}
 
/***********INPUT SEARCH**********************/
.searchContainer {
  position: relative;
  width: 100%;
  max-width: 79rem;
  height: 40px;
  padding: 30px;
  box-shadow: 0 0 5px var(--azul-oscuro);
  border-radius: 10px;
  margin: 80px auto 19px auto;
  background: var(--blanco);
}
 
.searchContainerSelected {
  background-color: var(--azul-celeste);
 
}
 
.selectedCount {
  display: flex; /* Para controlar el alineamiento */
  align-items: center; /* Alinea verticalmente al centro */
  gap: 5px; /* Separa los textos */
  font-weight: bold; /* Negrita */
  color: var(--azul-profundo); /* O cualquier otro color */
  top: 20px;
  position: absolute;
}
 
.searchInput {
  position: absolute;
  top: 10px;
  width: 50%;
  height: 70%;
  border: none;
  font-size: 16px;
  color: var(--gris-oscuro);
  border-radius: 90px;
  cursor: pointer;
  text-indent: 35px;
}
 
.searchInput:hover {
  border: 2px solid var(--azul-profundo-oscuro);
}
 
.searchInput:focus {
  outline: none;
  border: 2px solid var(--azul-profundo-oscuro);
}
 
.searchIcon {
  position: absolute;
  top: 50%;
  left: 27px;
  transform: translateY(-50%);
  color: var(--gris-oscuro);
  font-size: 20px;
  cursor: pointer;
  perspective: 1000px;
  border: none;
  background: transparent;
}
 

.iconS {
  transition: transform 0.3s ease;
}
 
.iconS:hover {
  color: var(--azul-claro);
  transform: translateZ(10px) scale(1.1);
}
 
/*********************TABLA*******************/
.tableContainer {
  margin-top: 2rem; /* Ajusta este valor según sea necesario */
}
 
.table {
  width: calc(100% - 20px); /* Ajusta según el margen deseado */
  margin-top: 5;
  margin: 0 10px;
  border-radius: 10px;
  box-shadow: 0 0 5px var(--azul-oscuro);
}
 
.table td,
.table th {
  border-left: none; /* Quitar borde izquierdo */
  border-right: none; /* Quitar borde derecho */
}
 
.table thead th {
  border-bottom: 2px solid var(--gris-claro); /* Mantener borde inferior en el encabezado */
  color: var(--azul-oscuro);
}
 
.table tbody tr {
  border-bottom: 1px solid var(--azul-claro); /* Líneas horizontales */
}
 
.table tbody td {
  border-bottom: 1px solid var(--gris-claro); /* Mantener las líneas horizontales entre filas */
  color: var(--azul-oscuro);
}
 
.table tfoot {
  height: 3.8rem;
}
 
.table tfoot td {
  padding: 5px;
}
 
.contChek {
  border-top-left-radius: 10px;
}
 
.contBtns {
  border-top-right-radius: 10px;
}
 
.contFil {
  border-bottom-left-radius: 10px;
}
 
.contFilDos {
  border-bottom-right-radius: 10px;
}
 
.textfoot {
  margin-left: 10px;
}
 
.selectLine {
  padding: 0;
  width: 3.5rem;
  margin-left: 10px;
}
 
.pestanas {
  padding: 0;
  width: 3rem;
  margin-right: 60px;
  height: 1rem;
  margin-top: 0;
}
 
.btnVer,
.btnEdit,
.btnDelete {
  border: none;
  padding: 5px 7px; /* Ajusta el padding según tus necesidades */
  margin-right: 7px; /* Espacio entre los botones */
  cursor: pointer;
  border-radius: 4px;
  color: var(--blanco);
}
 
.btnVer {
  background: var(--azul-profundo);
}
 
.btnVer:hover {
  background: var(--azul-profundo-oscuro);
}
 
.btnEdit {
  background: var(--naranja);
}
 
.btnEdit:hover {
  background: var(--naranja-claro);
}
 
.btnDelete {
  background: var(--rojo);
}
 
.btnDelete:hover {
  background: var(--rojo-claro);
}
 
@media (max-width: 768px) {
  .container {
    left: 0; /* O un valor más pequeño si quieres un margen */
    width: 100%; /* Asegura que el contenedor use todo el ancho */
  }
}
 
.serverStatus {
  display: flex;
  align-items: center;
  gap: 5px;
}
 
.serverStatus .online {
  width: 10px;
  height: 10px;
  border: none;
  border-radius: 50%;
  background-color: var(--verde-claro);
}
 
.serverStatus .offline {
  width: 10px;
  height: 10px;
  border: none;
  border-radius: 50%;
  background-color: var(--rojo);
}
 
.serverStatus .maintenance {
  width: 10px;
  height: 10px;
  border: none;
  border-radius: 50%;
  background-color: var(--naranja);
}