:root {
    --azul-celeste: #8affe6;
    --azul-oscuro: #1b3f4b;
    --azul-oscuro-intermedio: #3b5d68;
    --azul-profundo: #0164f8;
    --azul-profundo-oscuro: #0453c9;
    --gris-claro: #cbcbcb;
    --gris-oscuro: #6b6868;
    --gris-oscuro-medio: #bbb8b8;
    --azul-claro: #4e8ac4;
    --azul-claro-intermedio: #6cb5fa;
    --negro: #000000;
    --blanco: #fff;
    --verde: #017e0c;
    --verde-claro: #03b912;
    --naranja: #f86605;
    --naranja-claro: #c25106;
    --rojo: #f70511;
    --rojo-claro: #c5060f;
  }
  /*********************CONTENEDOR PRINCIPAL*************/
  .container {
    width: 1078px;
    height: 110vh;
    left: 0;
    align-items: center;
    overflow-y: auto;
    overflow-x: hidden;
  }
  
  /***********************ENCABEZADO*************************/
  .containerMain {
    display: flex;
    top: 40px;
    margin-left: 20px;
    position: relative;
    width: 64rem;
    height: 80px;
  }
  .btnImport {
    position: absolute;
    left: 0;
    bottom: 5px;
    margin-right: 10px;
    padding: 4px 8px;
  
    &:hover {
      background: var(--gris-claro);
      color: var(--azul-profundo-oscuro);
    }
  }
  
  .btnExport {
    position: absolute;
    left: 8rem;
    bottom: 5px;
    padding: 4px 8px;
  
    &:hover {
      background: var(--gris-claro);
      color: var(--azul-profundo-oscuro);
    }
  }
  
  .btnAdd {
    position: absolute;
    right: 0;
    top: 0%;
    padding: 7px 14px;
    background: var(--azul-profundo-oscuro);
    color: var(--blanco);
  
    &:hover {
      background: var(--azul-profundo);
    }
  }
  
  .tittle {
    font-size: 25px;
    font-family: sans-serif;
    color: var(--azul-oscuro);
  }
  
  .btnAdd,
  .btnExport,
  .btnImport {
    border-radius: 10px;
    border: none;
    justify-content: space-between;
    box-shadow: 0 0 5px var(--azul-oscuro);
  }
  
  .icon {
    font-size: 20px;
    margin-right: 5px;
  }
  /***********INPUT SEARCH**********************/
  
  /* Estilos generales del contenedor */
  .searchContainer {
    position: relative;
    width: 64rem;
    height: 40px;
    padding: 30px;
    box-shadow: 0 0 5px var(--azul-oscuro);
    border-radius: 10px;
    margin-left: 20px;
    margin-top: 80px;
    margin-right: 20px;
    background: var(--blanco);
  }
  
  .searchContainerSelected {
    background-color: var(--azul-celeste);
  }
  
  .selectedCount {
    display: flex; /* Para controlar el alineamiento */
    align-items: center; /* Alinea verticalmente al centro */
    gap: 5px; /* Separa los textos */
    font-weight: bold; /* Negrita */
    color: var(--azul-profundo); /* O cualquier otro color */
    top: 20px;
    position: absolute;
  }
  
  /* Estilos del input */
  .searchInput {
    position: absolute;
    top: 10px;
    width: 40%;
    height: 70%;
    border: none;
    font-size: 16px;
    color: var(--gris-oscuro);
    border-radius: 10px;
    cursor: pointer;
    text-indent: 35px;
    &:hover {
      border: 1px solid var(--gris-oscuro);
    }
    /* Estilos al enfocar el input */
    &:focus {
      outline: none;
      border: 1px solid var(--azul-profundo-oscuro);
    }
  }
  
  /* Estilos del icono */
  .searchIcon {
    position: absolute;
    top: 50%;
    left: 40px;
    transform: translateY(-50%);
    color: var(--gris-oscuro);
    font-size: 20px;
    cursor: pointer;
    perspective: 1000px;
    border: none;
    background: transparent;
  }
  
  .iconS {
    transition: transform 0.3s ease;
    /* Estilos al pasar el mouse sobre el icono */
    &:hover {
      color: var(--azul-claro);
      transform: translateZ(10px) scale(1.1);
    }
  }
  
  /*********************TABLA*******************/
  
  /*CHECKBOX*/
  .customCheckbox {
    display: flex;
    align-items: center;
    width: 20px; /* Tamaño del checkbox */
    height: 20px;
    border: 2px solid var(--gris-oscuro); /* Color y grosor del borde */
    border-radius: 4px; /* Opcional: para bordes redondeados */
    transition: border-color 0.3s ease; /* Efecto de transición */
    cursor: pointer;
  
    &:hover {
      background: var(--azul-celeste);
    }
  }
  
  .customTable {
    font-size: 16px;
    box-shadow: 0 0 5px var(--azul-oscuro);
  }
  
  .table td,
  .table th {
    border-left: none; /* Quitar borde izquierdo */
    border-right: none; /* Quitar borde derecho */
  }
  
  .table {
    width: 64rem;
    margin-left: 20px;
    margin-right: 20px;
    top: 40px;
    position: relative;
    border-radius: 10px;
  }
  
  .table thead th {
    border-bottom: 2px solid var(--gris-claro); /* Mantener borde inferior en el encabezado */
    color: var(--azul-oscuro);
  }
  
  .contChek{
    border-top-left-radius: 10px;
  }
  
  .table .contBtns{
    border-top-right-radius: 10px;
  }
  
  .table tbody tr {
    border-bottom: 1px solid var(--azul-claro); /* Líneas horizontales */
  }
  
  .table tbody td {
    border-bottom: 1px solid var(--gris-claro); /* Mantener las líneas horizontales entre filas */
    color: var(--azul-oscuro);
  }
  /* En tu archivo CSS */
  .table tfoot {
    height: 3.8rem; 
  }
  
  .table tfoot td {
    padding: 5px; 
  }
  
  .contFil{
    border-bottom-left-radius: 10px;
  }
  .contFilDos{
    border-bottom-right-radius: 10px;
  }
  
  .textfoot {
    margin-left: 10px;
  }
  
  .selectLine {
    padding: 0;
    width: 3.5rem;
    margin-left: 10px;
  }
  
  .pestanas {
    padding: 0;
    width: 3rem;
    margin-right: 60px;
    height: 1rem;
    margin-top: 0;
  }
  /*******************BOTONES CRUD*****************/
  
  .btnVer,
  .btnEdit,
  .btnDelete {
    border: none;
    padding: 5px 7px; /* Ajusta el padding según tus necesidades */
    margin-right: 7px; /* Espacio entre los botones */
    cursor: pointer;
    border-radius: 4px;
    color: var(--blanco);
  }
  
  .btnVer {
    background: var(--azul-profundo);
    &:hover {
      background: var(--azul-profundo-oscuro);
    }
  }
  
  .btnEdit {
    background: var(--naranja);
    &:hover {
      background: var(--naranja-claro);
    }
  }
  
  .btnDelete {
    background: var(--rojo);
    &:hover {
      background: var(--rojo-claro);
    }
  }
  
  @media (max-width: 768px) {
    .container {
      left: 0; /* O un valor más pequeño si quieres un margen */
      width: 100%; /* Asegura que el contenedor use todo el ancho */
    }
  }
  
  .serverStatus {
    display: flex;
    align-items: center;
    gap: 5px;
  }
  
  .serverStatus .online {
    width: 10px;
    height: 10px;
    border: none;
    border-radius: 50%;
    background-color: var(--verde-claro);
  }
  
  .serverStatus .offline {
    width: 10px;
    height: 10px;
    border: none;
    border-radius: 50%;
    background-color: var(--rojo);
  }
  
  .serverStatus .maintenance {
    width: 10px;
    height: 10px;
    border: none;
    border-radius: 50%;
    background-color: var(--naranja);
  }
  