:root {
  --azul-celeste: #8AFFE6;
  --azul-oscuro: #1B3F4B;
  --azul-oscuro-intermedio: #3b5d68;
  --azul-profundo: #0164f8;
  --azul-profundo-oscuro: #0453c9;
  --gris-claro: #CBCBCB;
  --gris-oscuro: #6b6868;
  --gris-oscuro-medio: #bbb8b8;
  --azul-claro: #4E8AC4;
  --azul-claro-intermedio: #6cb5fa;
  --negro: #000000;
  --blanco: #fff;
  --verde: #017e0c;
  --verde-claro: #03b912;
  --naranja: #f86605;
  --naranja-claro: #c25106;
  --rojo: #f70511;
  --rojo-claro: #c5060f;
}
 
.containtTit {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 40px;
}
.botonRegresar {
  padding: 8px 16px;
  background-color: var(--azul-profundo);
  color: white;
  text-decoration: none;
  border-radius: 10px;
  font-size: 14px;
  transition: background-color 0.3s ease;
}
 
.botonRegresar:hover {
  background-color: var(--azul-claro-intermedio);
}
 
.tittle {
  color: var(--azul-oscuro);
  margin-left: 20rem;
}
 
.table {
  width: 100%; /* Asegura que la tabla ocupe todo el espacio disponible en su contenedor */
  border-collapse: collapse; /* Combina los bordes de las celdas */
}
 
.th, td {
  padding: 10px; /* Añade espacio interno en las celdas */
  border: 1px solid #ccc; /* Añade bordes a las celdas */
  white-space: nowrap; /* Evita que el texto se divida en varias líneas */
}
 
.th {
  background-color: #f4f4f4; /* Añade un color de fondo a las cabeceras */
}
.form {
  display: grid;
  grid-template-rows: auto 1fr; /* Primera fila para el título/botón, segunda para la tabla */
  gap: 20px; /* Espacio entre filas */
  width: 100%;
  height: 100vh;
  padding-left: 250px;
  z-index: 7;
  overflow-y: auto;
  overflow-x: hidden;
}
 
 
.container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  background: var(--blanco);
  height: auto;
  margin-left: 300px;
  border-radius: 10px;
  border: 1px solid var(--gris-claro);
  box-shadow: 0 0 5px var(--azul-oscuro);
  overflow: auto;
}
 
.columnUno {
  width: 45%; /* Ajustado para ocupar casi la mitad del contenedor */
  margin-top: 25px;
  margin-left: 20px;
  height: auto;
}
 
.columnDos {
  width: 45%; /* Ajustado para ocupar casi la mitad del contenedor */
  margin-top: 20px;
  margin-left: 20px;
  height: auto;
}
 
.formGroup {
  position: relative;
  width: 100%;
  height: 40px;
  margin-top: 45px;
  line-height: 40px;
  margin-bottom: 30px;
}
 
.input {
  position: absolute;
  width: 100%;
  outline: none;
  font-size: 0.8rem;
  padding: 0 20px;
  border: none;
  line-height: 40px;
  border-radius: 10px;
  border: 1px solid var(--gris-claro);
  background: transparent;
  transition: 0.1s ease;
  z-index: 1111;
}
 
.input:focus {
  color: var(--azul-profundo-oscuro);
  border: 1px solid var(--azul-profundo);
}
 
.label {
  position: absolute;
  font-size: 1.0rem;
  padding: 0 25px;
  margin: 0 30px;
  background: var(--blanco);
  transition: 0.2s ease;
}
 
.input:focus+.label,
.input:valid+.label {
  color: var(--gris-oscuro);
  height: 30px;
  line-height: 30px;
  padding: 0 12px;
  z-index: 1111;
  transform: translate(-15px, -16px) scale(0.88);
}
 
.texTarea {
  position: absolute;
  width: 100%;
  outline: none;
  font-size: 0.8rem;
  padding: 0 20px;
  border: none;
  line-height: 40px;
  border-radius: 10px;
  border: 1px solid var(--gris-claro);
  background: transparent;
  transition: 0.1s ease;
  z-index: 1111;
}
 
.texTarea:focus {
  color: var(--azul-profundo-oscuro);
  border: 1px solid var(--azul-profundo);
}
 
.labelTarea {
  position: absolute;
  font-size: 1.0rem;
  padding: 0 25px;
  margin: 0 30px;
  background-color: var(--blanco);
  transition: 0.2s ease;
}
 
.texTarea:focus+.labelTarea,
.texTarea:valid+.labelTarea {
  color: var(--gris-oscuro);
  height: 30px;
  line-height: 30px;
  padding: 0 12px;
  z-index: 1111;
  transform: translate(-15px, -16px) scale(0.88);
}
 
.button {
  background-color: var(--azul-profundo-oscuro);
  color: var(--blanco);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 30px;
}
 
.button:hover {
  background: var(--azul-profundo);
}
 
.lines {
  color: var(--azul-oscuro);
  padding-bottom: 20px;
}
 
@media (min-width: 768px) {
  .form {
    flex-direction: row;
    max-width: 100%;
    padding: 40px;
  }
 
  .container {
    max-width: 100%;
    padding: 20px 40px;
  }
 
  .titulo {
    font-size: 28px;
  }
}
 
@media (max-width: 768px) {
  .titulo {
    justify-content: center;
  }
 
  .form {
    width: 100%;
    height: auto;
  }
 
  .container {
    flex-direction: column;
    width: 100%;
    height: auto;
  }
 
  .columnUno {
    width: 100%;
    margin-right: 0;
    height: auto;
  }
 
  .columnDos {
    width: 100%;
    height: auto;
    margin-right: 0;
  }
 
  .input,
  .texTarea,
  .selectImagen {
    width: 100%;
  }
}