:root {
    --azul-celeste: #8affe6;
    --azul-oscuro: #1b3f4b;
    --azul-oscuro-intermedio: #3b5d68;
    --azul-profundo: #0164f8;
    --azul-profundo-oscuro: #0453c9;
    --gris-claro: #cbcbcb;
    --gris-oscuro: #6b6868;
    --gris-oscuro-medio: #bbb8b8;
    --azul-claro: #4e8ac4;
    --azul-claro-intermedio: #6cb5fa;
    --negro: #000000;
    --blanco: #fff;
    --verde: #017e0c;
    --verde-claro: #03b912;
    --naranja: #f86605;
    --naranja-claro: #c25106;
    --rojo: #f70511;
    --rojo-claro: #c5060f;
  }

  .list-item {
    display: flex;
    margin: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    align-items: center;
    position: relative; /* Agregamos position: relative; */
  }

  .list-item:last-child {
    border-bottom: none;
  }

  .list-item-image {
    border-radius: 50%;
    width: 64px;
  }

  .list-item-content {
    margin-left: 20px;
    flex: 1;
  }

  .list-item-content h4,
  .list-item-content p {
    margin: 0;
  }

  .list-item-content h4 {
    margin-top: 10px;
    font-size: 18px;
  }

  .list-item-content p {
    margin-top: 5px;
    color: #999;
  }

  .menu-button {
      background: none;
      border: none;
      cursor: pointer;
      font-size: 1.2rem;
      color: var(--gris-oscuro);
    }

    .modal-overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1000;
      }

      .modal-content {
        position: absolute; 
        background: var(--blanco);
        padding: 10px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        transform: none;
        margin: 0; 
        box-shadow: 0 0 5px var(--azul-oscuro);
      }

      .modal-button-edit, .modal-button-delete {
        display: flex;
        align-items: center;
        margin-bottom: 5px;
        background: none;
        border: none;
        cursor: pointer;
        font-size: 1rem;
      }

      .modal-button-edit{
        color: var(--naranja);

        &:hover{
            background: var(--gris-claro);
        }
      }

      .modal-button-delete{
        color: var(--rojo);

        &:hover{
            background: var(--gris-claro);
        }
      }
      
      .modal-button svg {
        margin-right: 5px;
      }