/* Contenedor general */
.tableContainer {
    margin-top: 20px;
    overflow-x: auto;
    /* Desplazamiento horizontal si la tabla es ancha */
}

.table-responsive {
    min-width: 1000px;
    /* Para asegurarse de que se necesite desplazamiento si la tabla es muy ancha */
}

/* Aumentar el tamaño de los inputs para aprovechar más espacio */
th,
td {
    font-size: 0.9rem;
    /* Tamaño de fuente mayor */
    padding: 12px;
    /* Aumento del espacio de relleno para mejor visibilidad */
    white-space: nowrap;
    /* Evita que el texto se ajuste o se muestre diagonalmente */
}

/* Asegura que los inputs de las celdas ocupen todo el ancho de la celda */
.tableContainer td>.form-control {
    width: 100%;
    box-sizing: border-box;
    /* Para que el relleno y los bordes no afecten el tamaño del campo */
    min-height: 2.5rem;
    /* Aumenta la altura mínima de los inputs */
    padding: 8px;
    /* Agrega algo de padding a los inputs */
}

/* Estilo para resaltar celdas vacías */
.emptyCell {
    background-color: #f8f9fa;
}

/* Manija de redimensionado de columnas */
.resizeHandle {
    cursor: ew-resize;
    width: 5px;
    height: 100%;
    background-color: gray;
}

/* Ajustes para la paginación */
.paginationControls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.paginationControls select {
    margin-left: 5px;
}

.paginationControls button {
    margin: 0 5px;
    padding: 5px 10px;
    cursor: pointer;
}

.paginationControls button:disabled {
    cursor: not-allowed;
    background-color: #ccc;
}