:root{
    --azul-celeste: #8AFFE6;
    --azul-oscuro: #1B3F4B;
    --azul-oscuro-intermedio: #3b5d68;
    --azul-profundo:#0164f8;
    --azul-profundo-oscuro:#0453c9;
    --gris-claro: #CBCBCB;
    --gris-oscuro:#6b6868;
    --gris-oscuro-medio:#bbb8b8;
    --azul-claro: #4E8AC4;
    --azul-claro-intermedio: #6cb5fa;
    --negro: #000000;
    --blanco: #fff;
    --verde: #017e0c;
    --verde-claro:#03b912;
    --naranja:#f86605;
    --naranja-claro:#c25106;
    --rojo:#f70511;
    --rojo-claro:#c5060f;
  }
.loaderWrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    overflow: hidden;
  
    .no-js & {
      display: none;
    }
  }
  
  .loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: var(--azul-oscuro);
    animation: spin 1.7s linear infinite;
    z-index: 11;
  
    &:before {
      content: "";
      position: absolute;
      top: 5px;
      left: 5px;
      right: 5px;
      bottom: 5px;
      border-radius: 50%;
      border: 3px solid transparent;
      border-top-color: var(--azul-profundo);
      animation: spin-reverse 0.6s linear infinite;
    }
  
    &:after {
      content: "";
      position: absolute;
      top: 15px;
      left: 15px;
      right: 15px;
      bottom: 15px;
      border-radius: 50%;
      border: 3px solid transparent;
      border-top-color: var(--azul-celeste);
      animation: spin 1s linear infinite;
    }
  }
  
  .loaderSection {
    position: fixed;
    top: 0;
    width: 51%;
    height: 100%;
    background: var(--blanco);
    z-index: 10;
  }
  
  .sectionLeft {
    left: 0;
  }
  
  .sectionRight {
    right: 0;
  }
  
  .loaded .loaderSection.sectionLeft {
    transform: translateX(-100%);
    transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
  }
  
  .loaded .loaderSection.sectionRight {
    transform: translateX(100%);
    transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
  }
  
  .loaded .loader {
    opacity: 0;
    transition: all 0.3s ease-out;
  }
  
  .loaded .loaderWrapper {
    visibility: hidden;
    transform: translateY(-100%);
    transition: all 0.3s 1s ease-out;
  }
  
  /* Animaciones */
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes spin-reverse {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(-360deg);
    }
  }