/* Estilo para el Navbar */
:root {
  --azul-celeste: #8affe6;
  --azul-oscuro: #1b3f4b;
  --azul-oscuro-intermedio: #3b5d68;
  --gris-claro: #cbcbcb;
  --gris-oscuro: #6b6868;
  --azul-claro: #4e8ac4;
  --azul-claro-intermedio: #6cb5fa;
  --negro: #000000;
  --blanco: #fff;
}

/* Estilo general del navbar */
.navbar {
  background-color: var(--azul-navbar);
  padding: 10px 20px;
  z-index: 9;
  position: relative;
  width: 100%;
  height: 60px;
  transition: transform 0.3s ease;
  display: block;
  border-bottom: 2px solid var(--gris-claro);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Contenedor para centrar los elementos dentro del navbar */
.container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 50px;
}

/* Imagen de usuario redonda */
.userContainer {
  position: relative;
  cursor: pointer;
  transition: left 0.3s ease, margin-left 0.3s ease;
}
.noti {
  padding: 8px 8px;
  border: none;
  color: var(--azul-oscuro);
  background: var(--blanco);
  border-radius: 100%;
  cursor: pointer;
  font-size: 20px;
  display: flex;
  align-items: center;
  left: 0;

  &:hover {
    transform: scale(1.2); /*zoom*/
    background: var(--gris-claro);
  }
}

.userIcon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid var(--gris-claro);
  object-fit: cover; /*ACOMODA LA IMAGEN AL CONTENEDOR*/
}

/* Modal posicionado debajo de la imagen de usuario */
.modalContent {
  position: fixed;
  top: 54px;
  right: 30px;
  background: var(--negro);
  padding: 10px;
  border: var(--azul-oscuro);
  border-radius: 8px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  text-align: left;
  width: 230px;
  z-index: 5;
  font-size: smaller;
}

.modalOptions {
  list-style: none;
  padding: 0;
  margin: 0;
  color: var(--gris-claro);
}

.modalOptions li {
  padding: 10px;
  cursor: pointer;
  border-radius: 8px;
}
.mailUser,
.btnLogout {
  text-align: center;
}
.containerNameUser {
  display: flex;
  margin-top: 20px;
  margin-right: 10px;
}

.userName {
  color: var(--blanco);
  font-weight: bold;
}
.mailUser {
  padding-bottom: 10px;
  padding-top: 10px;
  color: var(--azul-celeste);
}

li {
  margin-top: 0px;
}

.modalOptions li:hover {
  background: var(--azul-oscuro);
  color: var(--blanco);
}
/* Icono de hamburguesa */
.hamburger {
  display: none; /* Ocultar por defecto */
  font-size: 18px; /* Tamaño del icono */
  padding: 4px 8px;
  border: none;
  color: var(--azul-oscuro);
  background: var(--blanco);
  border-radius: 100%;
  cursor: pointer;
  margin-right: 10px;
}

.iconHam {
  margin-bottom: 4px;
}
.hamburger:hover {
  transform: scale(1.2);
  background: var(--gris-claro);
}

@media (max-width: 768px) {
  .hamburger {
    display: block; /* Mostrar solo en pantallas pequeñas */
  }
  .navbar {
    left: -10px;
    top: -28rem;
    width: 400px;
  }
  .userContainer{
    left: 200px;
    position: relative;
  }
}
/* Ajustes para pantallas entre 768px y 991px */
@media (max-width: 991px) {
  .userContainer {
    left: 20%; /* Más a la izquierda a medida que la pantalla se reduce */
  }
  .containerNameUser {
    left: 300px;
  }
  .searchInput {
    width: 200px;
  }
}
@media (max-width: 867px) {
  .userContainer {
    left: 20%; /* Completamente a la izquierda */
  }
}

/* Ajustes para pantallas muy pequeñas (menos de 576px) */
@media (max-width: 575px) {
  .userContainer {
    left: 29%; /* Aún más a la izquierda si es necesario */
  }
}
