@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

.sidebar {
  color: rgb(255, 34, 34);
  position: fixed;
  top: 0;
  left: 0;
  width: 18rem;
  height: 100%;
  border-right: 10px solid var(--azul-celeste);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--negro);
  overflow-y: auto; /* Permite el desplazamiento vertical */
  z-index: 1000; /* Asegura que el menú esté por encima de otros elementos */
}
 
ul {
  list-style: none;
  padding: 1rem 2rem;
  margin-top: 0;
  flex-grow: 1;
}
 
li {
  margin-bottom: 1.1rem;
}
 
.icon {
  margin-right: 20px;
}
 
.links {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--gris-claro);
  padding: 10px 20px;
  border-radius: 10px;
  transition: background-color 0.3s ease;
}
 
.links:active {
  background-color: var(--azul-celeste);
}
 
.links:hover {
  background-color: var(--azul-oscuro);
  color: var(--blanco);
}
 
.btnLogout {
  width: 100%; /* Ajusta el ancho al 100% del contenedor */
  text-decoration: none;
  color: var(--blanco);
  padding: 10px 20px;
  border-radius: 10px;
  text-align: center;
  margin: 20px 0; /* Ajusta el margen para evitar que se parta */
  transition: background-color 0.3s ease;
  white-space: nowrap; /* Evita que el texto se parta en dos líneas */
}
 
.btnLogout:hover {
  background-color: var(--azul-oscuro);
  color: var(--blanco);
}
 
 
@media (max-width: 768px) {
  .btnLogout {
    width: auto; /* Ajusta el ancho automáticamente en pantallas pequeñas */
    margin: 10px; /* Ajusta el margen para pantallas pequeñas */
  }
  .sidebar {
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
    flex-direction: row;
    justify-content: space-between;
  }
 
  ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0;
  }
 
  li {
    margin-bottom: 0;
    margin-right: 1rem;
  }
 
  .btnLogout {
    position: static;
    margin: 10px;
  }
}