@import url('https://fonts.googleapis.com/css?family=Raleway');

:root{
  --azul-celeste: #8AFFE6;
  --azul-oscuro: #1B3F4B;
  --azul-oscuro-intermedio: #3b5d68;
  --azul-profundo:#0164f8;
  --azul-profundo-oscuro:#0453c9;
  --gris-claro: #CBCBCB;
  --gris-oscuro:#6b6868;
  --gris-oscuro-medio:#bbb8b8;
  --azul-claro: #4E8AC4;
  --azul-claro-intermedio: #6cb5fa;
  --negro: #000000;
  --blanco: #fff;
  --verde: #017e0c;
  --verde-claro:#03b912;
  --naranja:#f86605;
  --naranja-claro:#c25106;
  --rojo:#f70511;
  --rojo-claro:#c5060f;
}

.info-text {
    font-size: 1rem;
    color: var(--azul-oscuro);
  }
  
  .wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .login-box {
      background: var(--blanco);
      width: 900px;
      height: 500px;
      box-shadow: 0 0 5px var(--azul-oscuro);
      text-align: center;
      padding: 20px;
      border-radius: 10px;
  }
  
  .form-container {
    display: flex;
    flex-direction: column;
  }
  
  .form-container .input-addon {
    margin-top: 1.5rem;
  }

  .form-element {
    width: 100%;
    outline: none;
    font-size: 0.8rem;
    padding: 0 20px;
    border: none; 
    line-height: 40px;
    border-radius: 10px;
    border: 1px solid var(--gris-claro);
    background: transparent;
    transition: 0.1s ease;
    margin-right: 5px;
  }

  .form-select{
    width: 100%;
    padding: 10px;
    font-size: 0.8rem;
    line-height: 40px;
    margin-top: 2rem;
    border: none; 
    border-radius: 10px;
    border: 1px solid var(--gris-claro);
    color: var(--gris-oscuro);
    outline: none;

    &:focus{
      color: var(--azul-profundo-oscuro);
      border:1px solid var(--azul-profundo);
    }
  }
  
  .form-element:focus{
      color: var(--azul-profundo-oscuro);
      border:1px solid var(--azul-profundo);
    }
  
  .form-element:focus + .label,
  .form-element:valid + .label{
    color: var(--gris-oscuro);
    height: 30px;;
    line-height: 30px;
    padding: 0 12px;
    z-index: 1111;
    transform: translate(-15px,-16px) scale(0.88);
  }

  
  .form-element::placeholder {
    font-family: 'Raleway', sans-serif;
    font-size: 0.8rem;
  }
  
  .button {
    background-color: var(--azul-profundo-oscuro); 
    color: var(--blanco); 
    padding: 10px 20px; 
    border: none;
    border-radius: 5px; 
    cursor: pointer; 
    margin-top: 30px;
  
    &:hover{
      background: var(--azul-profundo);
    }
  }
  
  
  .input-addon {
    display: flex;
  }
  
  .input-addon > .form-element {
    margin-top: 0;
  }
  
  .input-field {
    flex: 1;
  }
  
  .input-addon-item {
    padding: 5px;
    width: 35px;
    border: 1px solid var(--gris-claro);
    border-left: 0;
    background: var(--blanco);
    color: var(--gris-oscuro);
  }